.boxrow {
    display: flex;
}
.box {
    flex: 1;
    margin: 10px;
}

.crit-val {
    color:red;
}

.yellow-val {
    color: #a0a000;
}

.green-val {
    color: green;
}



.yellow-val {
    color: #a0a000;
}
.yellow-val {
    color: #a0a000;
}
