{% extends "base.html" %}
{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h1 class="mt-0">{{ section.title | replace(from="Shor", to="<span style='color:blue'>Shor</span>") |safe}}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
          <p class="lead">{{ section.extra.lead | safe }}</p>
          <div class="boxrow">
              <div class="box">
                <h3>
                    <div class="boxdiv">Logical Qubits &nbsp;</div>
                    <div class="crit-val">{{section.extra.logical_qubits}}</div>
                </h3>
                </div>
              <div class="box">
                <h3>
                    <div class="boxdiv">Gate Error Rate</div>
                    <div class="green-val">{{section.extra.error}}</div>
                </h3>
              </div>
              <div class="box">
                <h3>
                    <div class="boxdiv">Integrated Qubits</div>
                    <div class="crit-val">{{section.extra.integrated_qubits}}<sup>(4)</sup></div>
                </h3>
              </div>
          </div>
          <div class="boxrow">
              <div class="box">
                <h3>
                    <div class="boxdiv">Need<sup>(1)</sup></div>
                    <div>{{section.extra.qubits_needed}}</div>
                </h3>
              </div>
              <div class="box">
                <h3>
                    <div class="boxdiv">Need<sup>(2)</sup></div>
                    <div>{{section.extra.error_needed}}</div>
                </h3>
              </div>
              <div class="box">
                <h3>
                    <div class="boxdiv">Need<sup>(3)</sup></div>
                    <div>{{section.extra.needed_for_logical_qubit}}</div>
                </h3>
              </div>
          </div>
          <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}" role="button">{{ section.extra.url_button | default(value="Get started") }}</a>
        </div>
      </div>
    </section>
   <div style="font-size:12px"><sup>1</sup>For breaking RSA, based on <a href='https://arxiv.org/abs/1905.09749'>Factoring 2048-bit Numbers in 8 hours using 20 million qubits</a></div>
   <div style="font-size:12px"><sup>2</sup>Needs means: 'this is good enough'. Smaller values can reduce needed number of qubits for a single logical qubit.</div>
   <div style="font-size:12px"><sup>3</sup>This is the number of needed qubits for a logical qubit based on the error rate and the number of operations expected to be performed. (<a href='https://arxiv.org/abs/1905.09749'>Factoring 2048-bit Numbers in 8 hours using 20 million qubits</a>)</div></div>
   <div style="font-size:12px"><sup>4</sup>Based on <a href="https://journals.aps.org/prx/abstract/10.1103/PhysRevX.12.011040">Dual-Element, Two-Dimensional Atom Array with Continuous-Mode Operation</a></div>
  </div>
</div>
{% endblock content %}
